@import "../../variables";

.filter-parent {
  display:flex;
  align-self: center;
  height:40px;
  width: 40%;
  justify-content: space-between;
  @media (max-width: $small) {
    width: 80%;
  }
  .labels {
  align-items: center;
    height: 100%;
    width: 100%;
    border-top: 2px solid $black-10;
    border-left: 2px solid $black-10;
    border-bottom: 2px solid $black-10;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .filter {
    border-top: 2px solid $red-smooth;
    border-right: 2px solid $red-smooth;
    border-bottom: 2px solid $red-smooth;
    display:flex;
    background-color: $red-smooth;
    justify-content: center;
    height:100%;
    width:80px;
    cursor: pointer;
    .button-filter {
      background-color: $red-smooth;
      height: 100%;
      padding-bottom:6px;
      cursor:pointer;
      font-weight:700;
      font-size:18px;
      color: $black-60;
      color: white;
      border:none;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .filter div {
    padding-top: 6px;
  }
  .filter:hover & .button-filter {
    background-color: $red-light;
  }
  .drop {
    position: relative;
  }
  
  .drop ul {
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background: white;
    left: 0px;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    padding-left: 0px;
    padding-bottom: 6px;
    @media (max-width: $small) {
      position:relative;
      right:80px;
    }
  }
  .drop li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:36px;
  }
  
  .drop li:hover {
    background-color: $red-light;
  }
  
  .drop a {
    color: black;
    text-decoration: none;
  }

  // .drop .button-filter:focus + ul {
  //   opacity: 1;
  //   pointer-events: all;
  //   transform: translateY(0px);
  // }
  .dropped {
    opacity: 1 !important;
    pointer-events: all !important;
    transform: translateY(0px) !important;
    .active {
      background-color: $red-smooth !important;
    }
    .active:hover {
      background-color: $red-smooth !important;
    }
  }
}