$red-smooth-dark:#c7453e;
$red-smooth:#FC6058;
$red-smooth-light:#FB6159;
$red-light: #FD837D;
$black-10: #dadada;
$black-30: #acacac;
$black-60: #494949;
$black-90: #202020;
$blue-30:  #B6BCE2;
$blue-60: #3F51B5;

